%html
  %head
    %title david balatero | seattle, wa
    %meta(name="GENERATOR" content="Microsoft FrontPage 4.0")
    %meta(name="ProgId" content="FrontPage.Editor.Document")

  %frameset(cols="208,*")
    %frame(name="Menu" target="main" src="menu.htm" scrolling="auto")
    %frame(name="main" src="/" target="_self" scrolling="auto")

    %noframes
      %p This page uses frames, but your browser doesn't support them.

