%html
  %head
    %title david balatero | seattle, wa
    :css
      #content { width: 900px; }
      p { margin: 20px 0; }
  %body
    #content
      %h1 David Balatero
      %img{:src => '/david.jpg'}
      %h2 cello / electric bass / synths / code / seattle, wa

      %p
        Welcome to my site, which functions as an info-dump of all the projects I'm
        currently working on.

      %p
        <strong>Need to contact me?</strong> <a href="mailto:dbalatero@gmail.com">dbalatero@gmail.com</a><br />
        <strong>Want to stay up to date?</strong> <a href="http://twitter.com/dbalatero">@dbalatero on Twitter</a>, or follow my projects below.

      %h3 netcat

      %p
        This band is a great intersection of computers and music for me. We try create sound not 
        only with real instruments, but computer programs that we write. In addition to one of 
        our main instruments being a custom, light-based video synthesizer, we also create 
        sound by decoding network packets into sound and teaching computers to mumble and speak 
        lyrics via machine learning.

      %p
        We were recently written up on Hacker News, Reddit, Slashdot, Boing Boing, and countless
        independent publications for releasing our album <em>Cycles Per Instruction</em> as
        <a href="https://github.com/usrbinnc/netcat-cpi-kernel-module" target="_blank">a Linux kernel module</a>.


      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=3199598991/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://netcat.bandcamp.com/album/cycles-per-instruction">Cycles Per Instruction by netcat</a></iframe>

      %ul
        %li
          %a{:href => "http://netcat.co", :target => "_blank"} http://netcat.co
        %li
          %a{:href => "http://twitter.com/netcatband", :target => "_blank"} @netcatband on Twitter
        %li
          %a{:href => "https://www.facebook.com/netcatband", :target => "_blank"} Facebook


      %h3 Sister Girlfriend
      %p
        This is my electronic/R&amp;B project with best friends Rob Hanlon and Ryan Batie. It's 
        really fun. I play keyboards + electric bass and write/produce some of the songs.
        <a href="http://trevorspencer.tumblr.com" target="_blank">Trevor Spencer</a> has done all of
        our mixing so far, and makes our tracks sound great.

      <iframe width="500" height="350" scrolling="yes" frameborder="no" src="https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/users/50453591&amp;color=ff5500&amp;auto_play=false&amp;hide_related=false&amp;show_artwork=true"></iframe>

      %ul
        %li
          %a{:href => "http://xxsistergirlfriendxx.com", :target => "_blank"} http://xxsistergirlfriendxx.com
        %li
          %a{:href => "http://twitter.com/xxsistergfxx", :target => "_blank"} @xxsistergfxx on Twitter
        %li
          %a{:href => "https://www.facebook.com/xxsistergirlfriendxx", :target => "_blank"} Facebook


      %h3 Song Sparrow Research
      %p
        I've been playing with Song Sparrow Research for a while now (2007?), and we've 
        <a href="http://songsparrowresearch.bandcamp.com" target="_blank">put out a few albums</a>. 
        We're in the middle of recording more material right now, which should be out soon and a bit
        more synth-influenced. I play cello, electric bass, and a bit of in-studio keyboards on 
        the new unreleased material.

      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=937426703/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://songsparrowresearch.bandcamp.com/album/song-sparrow-research">Song Sparrow Research by Song Sparrow Research</a></iframe>

      %h3 Operation ID
      %p
        A wild and crazy bionic synth free-jazz band, which is sadly not active anymore. Probably 
        one of the most fun projects I've ever been in. I play electric bass.

      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=2054487193/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://store.opidmusic.com/album/legs">Legs by Operation ID</a></iframe>

      <iframe style="border: 0; width: 100%; height: 120px;" src="http://bandcamp.com/EmbeddedPlayer/album=1797817307/size=large/bgcol=ffffff/linkcol=0687f5/tracklist=false/artwork=small/transparent=true/" seamless><a href="http://store.opidmusic.com/album/trapped">Trapped by Operation ID</a></iframe>

      %p
        One of the craziest (and the last) Op ID shows that I played (ended with Jared getting 
        stitches at the hospital):

      <iframe width="640" height="390" src="//www.youtube.com/embed/ZzgnjQ1HZpY" frameborder="0" allowfullscreen></iframe>


      %h3 Other recordings

      %p
        I played cello on Neil Welch's Sleeper album:

      <iframe style="border: 0; width: 100%; height: 42px;" src="http://bandcamp.com/EmbeddedPlayer/album=2504187099/size=small/bgcol=ffffff/linkcol=0687f5/transparent=true/" seamless><a href="http://store.neilwelch.com/album/sleeper">Sleeper by Neil Welch</a></iframe>

      %h3 Cello
      %p
        I occasionally record short improvisations on cello. Here's one I did at a swamp near Fall City:

      <iframe width="640" height="390" src="//www.youtube.com/embed/heHjXHttvfo" frameborder="0" allowfullscreen></iframe>

      %p
        Sometimes I work on classical music. I'm not a pro but it's an honor to be able to perform 
        and share some of the greatest music ever written. Here's a video of me playing the Crumb
        Sonata, Mvt 3:

      <iframe width="640" height="390" src="//www.youtube.com/embed/rv0HmZKa7OU" frameborder="0" allowfullscreen></iframe>

      %p
        Aaron Otheim and I sometimes perform as a cello/synthesizer duo. Here's a video of us 
        performing some outer space soundtrack-y music, with a video synth light show by 
        Nick Bartoletti.

      <iframe width="640" height="390" src="//www.youtube.com/embed/WK-Zvekbxpc" frameborder="0" allowfullscreen></iframe>

      %hr
      
      Source code for this site is at <a href="http://github.com/dbalatero/davidbalatero.com" target="_blank">http://github.com/dbalatero/davidbalatero.com</a>

      .count-it-up-fuzzball
        <!-- Start of SimpleHitCounter Code -->
        <div align="center"><a href="http://www.simplehitcounter.com" target="_blank"><img src="http://simplehitcounter.com/hit.php?uid=1718355&f=16777215&b=0" border="0" height="18" width="83" alt="hit counter website"></a><br><a href="http://www.simplehitcounter.com" target="_blank" style="text-decoration:none;">hit counter website</a></div>
        <!-- End of SimpleHitCounter Code -->
