%html
  %head
    %title david balatero | seattle, wa
    %meta(name="GENERATOR" content="Microsoft FrontPage 4.0")
    %meta(name="ProgId" content="FrontPage.Editor.Document")
  %body
    %p
      %a(href="/#content" target="main") Top
    %p
      %a(href="/#netcat" target="main") netcat
    %p
      %a(href="/#sister-girlfriend" target="main") Sister Girlfriend
    %p
      %a(href="/#ssr" target="main") Song Sparrow Research
    %p
      %a(href="/#operation-id" target="main") Operation ID
    %p
      %a(href="/#other" target="main") Other
